{{ define "main" }}
<article class="prose mx-auto my-12 max-w-3xl">

  <header>
    <h1 class="post-title">{{ .Title }}</h1>
    <p class="post-date">{{ .Date.Format "2006-01-02 15:04" }}</p>
  </header>

  <div class="post-content">
    {{ .Content }}
  </div>

  <!-- 评论区开始 -->
  <div id="waline" class="mt-16"></div>

  <link rel="stylesheet"
        href="https://unpkg.com/@waline/client@v3/dist/waline.css">

  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

    init({
      el: '#waline',
      // ！！！这里必须加 https:// 否则会 NetworkError
      serverURL: 'https://nekoneko-bkxe52zs8-toby-tops-projects.vercel.app/',
      locale: {
        placeholder: '留下你的见解 ~'
      }
    });
  </script>
  <!-- 评论区结束 -->

</article>
{{ end }}